// LTR Direction
for value in e s // e: end, s: start
    if value == e
        $ltr[".me-auto"] = {
                        margin-right: auto !important
                    }
        $rtl[".ltr > .me-auto"] = {
                        margin-left: initial !important
                        margin-right: auto !important
                    }
        $ltr[".pe-auto"] = {
                        padding-right: auto !important
                    }
        $rtl[".ltr > .pe-auto"] = {
                        padding-left: initial !important
                        padding-right: auto !important
                    }
    else
        $ltr[".ms-auto"] = {
                        margin-left: auto !important
                    }
        $rtl[".ltr > .ms-auto"] = {
                        margin-left: auto !important
                        margin-right: initial !important
                    }
        $ltr[".ps-auto"] = {
                        padding-left: auto !important
                    }
        $rtl[".ltr > .ps-auto"] = {
                        padding-left: auto !important
                        padding-right: initial !important
                    }
    $xxs[".ltr .m" + value + "-xxs-auto"] = $ltr[".m" + value + "-auto"]
    $xs[".ltr .m" + value + "-xs-auto"] = $ltr[".m" + value + "-auto"]
    $sm[".ltr .m" + value + "-sm-auto"] = $ltr[".m" + value + "-auto"]
    $md[".ltr .m" + value + "-md-auto"] = $ltr[".m" + value + "-auto"]
    $lg[".ltr .m" + value + "-lg-auto"] = $ltr[".m" + value + "-auto"]
    $xl[".ltr .m" + value + "-xl-auto"] = $ltr[".m" + value + "-auto"]
    $xxs[".rtl .ltr > .m" + value + "-xxs-auto"] = $rtl[".ltr > .m" + value + "-auto"]
    $xs[".rtl .ltr > .m" + value + "-xs-auto"] = $rtl[".ltr > .m" + value + "-auto"]
    $sm[".rtl .ltr > .m" + value + "-sm-auto"] = $rtl[".ltr > .m" + value + "-auto"]
    $md[".rtl .ltr > .m" + value + "-md-auto"] = $rtl[".ltr > .m" + value + "-auto"]
    $lg[".rtl .ltr > .m" + value + "-lg-auto"] = $rtl[".ltr > .m" + value + "-auto"]
    $xl[".rtl .ltr > .m" + value + "-xl-auto"] = $rtl[".ltr > .m" + value + "-auto"]
    $xxs[".ltr .p" + value + "-xxs-auto"] = $ltr[".p" + value + "-auto"]
    $xs[".ltr .p" + value + "-xs-auto"] = $ltr[".p" + value + "-auto"]
    $sm[".ltr .p" + value + "-sm-auto"] = $ltr[".p" + value + "-auto"]
    $md[".ltr .p" + value + "-md-auto"] = $ltr[".p" + value + "-auto"]
    $lg[".ltr .p" + value + "-lg-auto"] = $ltr[".p" + value + "-auto"]
    $xl[".ltr .p" + value + "-xl-auto"] = $ltr[".p" + value + "-auto"]
    $xxs[".rtl .ltr > .p" + value + "-xxs-auto"] = $rtl[".ltr > .p" + value + "-auto"]
    $xs[".rtl .ltr > .p" + value + "-xs-auto"] = $rtl[".ltr > .p" + value + "-auto"]
    $sm[".rtl .ltr > .p" + value + "-sm-auto"] = $rtl[".ltr > .p" + value + "-auto"]
    $md[".rtl .ltr > .p" + value + "-md-auto"] = $rtl[".ltr > .p" + value + "-auto"]
    $lg[".rtl .ltr > .p" + value + "-lg-auto"] = $rtl[".ltr > .p" + value + "-auto"]
    $xl[".rtl .ltr > .p" + value + "-xl-auto"] = $rtl[".ltr > .p" + value + "-auto"]

for value in e s // e: end, s: start
    if value == e
        for i in 0..30
            $key = i * 5
            $ltr[".me-" + $key] = {
                            margin-right: unit($key, 'px') !important
                        }
            $rtl[".ltr > .me-" + $key] = {
                            margin-left: initial !important
                            margin-right: unit($key, 'px') !important
                        }
            $ltr[".pe-" + $key] = {
                            padding-right: unit($key, 'px') !important
                        }
            $rtl[".ltr > .pe-" + $key] = {
                            margin-left: initial !important
                            padding-right: unit($key, 'px') !important
                        }
            $xxs[".ltr .me-xxs-" + $key] = $ltr[".me-" + $key]
            $xs[".ltr .me-xs-" + $key] = $ltr[".me-" + $key]
            $sm[".ltr .me-sm-" + $key] = $ltr[".me-" + $key]
            $md[".ltr .me-md-" + $key] = $ltr[".me-" + $key]
            $lg[".ltr .me-lg-" + $key] = $ltr[".me-" + $key]
            $xl[".ltr .me-xl-" + $key] = $ltr[".me-" + $key]
            $xxs[".rtl .ltr > .me-xxs-" + $key] = $rtl[".ltr > .me-" + $key]
            $xs[".rtl .ltr > .me-xs-" + $key] = $rtl[".ltr > .me-" + $key]
            $sm[".rtl .ltr > .me-sm-" + $key] = $rtl[".ltr > .me-" + $key]
            $md[".rtl .ltr > .me-md-" + $key] = $rtl[".ltr > .me-" + $key]
            $lg[".rtl .ltr > .me-lg-" + $key] = $rtl[".ltr > .me-" + $key]
            $xl[".rtl .ltr > .me-xl-" + $key] = $rtl[".ltr > .me-" + $key]
            $xxs[".ltr .pe-xxs-" + $key] = $ltr[".pe-" + $key]
            $xs[".ltr .pe-xs-" + $key] = $ltr[".pe-" + $key]
            $sm[".ltr .pe-sm-" + $key] = $ltr[".pe-" + $key]
            $md[".ltr .pe-md-" + $key] = $ltr[".pe-" + $key]
            $lg[".ltr .pe-lg-" + $key] = $ltr[".pe-" + $key]
            $xl[".ltr .pe-xl-" + $key] = $ltr[".pe-" + $key]
            $xxs[".rtl .ltr > .pe-xxs-" + $key] = $rtl[".ltr > .pe-" + $key]
            $xs[".rtl .ltr > .pe-xs-" + $key] = $rtl[".ltr > .pe-" + $key]
            $sm[".rtl .ltr > .pe-sm-" + $key] = $rtl[".ltr > .pe-" + $key]
            $md[".rtl .ltr > .pe-md-" + $key] = $rtl[".ltr > .pe-" + $key]
            $lg[".rtl .ltr > .pe-lg-" + $key] = $rtl[".ltr > .pe-" + $key]
            $xl[".rtl .ltr > .pe-xl-" + $key] = $rtl[".ltr > .pe-" + $key]
    else
        for i in 0..30
            $key = i * 5
            $ltr[".ms-" + $key] = {
                            margin-left: unit($key, 'px') !important
                        }
            $rtl[".ltr > .ms-" + $key] = {
                            margin-left: unit($key, 'px') !important
                            margin-right: initial !important
                        }
            $ltr[".ps-" + $key] = {
                            padding-left: unit($key, 'px') !important
                        }
            $rtl[".ltr > .ps-" + $key] = {
                            padding-left: unit($key, 'px') !important
                            padding-right: initial !important
                        }
            $xxs[".ltr .ms-xxs-" + $key] = $ltr[".ms-" + $key]
            $xs[".ltr .ms-xs-" + $key] = $ltr[".ms-" + $key]
            $sm[".ltr .ms-sm-" + $key] = $ltr[".ms-" + $key]
            $md[".ltr .ms-md-" + $key] = $ltr[".ms-" + $key]
            $lg[".ltr .ms-lg-" + $key] = $ltr[".ms-" + $key]
            $xl[".ltr .ms-xl-" + $key] = $ltr[".ms-" + $key]
            $xxs[".rtl .ltr > .ms-xxs-" + $key] = $rtl[".ltr > .ms-" + $key]
            $xs[".rtl .ltr > .ms-xs-" + $key] = $rtl[".ltr > .ms-" + $key]
            $sm[".rtl .ltr > .ms-sm-" + $key] = $rtl[".ltr > .ms-" + $key]
            $md[".rtl .ltr > .ms-md-" + $key] = $rtl[".ltr > .ms-" + $key]
            $lg[".rtl .ltr > .ms-lg-" + $key] = $rtl[".ltr > .ms-" + $key]
            $xl[".rtl .ltr > .ms-xl-" + $key] = $rtl[".ltr > .ms-" + $key]
            $xxs[".ltr .ps-xxs-" + $key] = $ltr[".ps-" + $key]
            $xs[".ltr .ps-xs-" + $key] = $ltr[".ps-" + $key]
            $sm[".ltr .ps-sm-" + $key] = $ltr[".ps-" + $key]
            $md[".ltr .ps-md-" + $key] = $ltr[".ps-" + $key]
            $lg[".ltr .ps-lg-" + $key] = $ltr[".ps-" + $key]
            $xl[".ltr .ps-xl-" + $key] = $ltr[".ps-" + $key]
            $xxs[".rtl .ltr > .ps-xxs-" + $key] = $rtl[".ltr > .ps-" + $key]
            $xs[".rtl .ltr > .ps-xs-" + $key] = $rtl[".ltr > .ps-" + $key]
            $sm[".rtl .ltr > .ps-sm-" + $key] = $rtl[".ltr > .ps-" + $key]
            $md[".rtl .ltr > .ps-md-" + $key] = $rtl[".ltr > .ps-" + $key]
            $lg[".rtl .ltr > .ps-lg-" + $key] = $rtl[".ltr > .ps-" + $key]
            $xl[".rtl .ltr > .ps-xl-" + $key] = $rtl[".ltr > .ps-" + $key]

// RTL Direction
for value in e s // e: end, s: start
    if value == e
        $rtl[".me-auto"] = {
                        margin-left: auto !important
                    }
        $ltr[".rtl > .me-auto"] = {
                        margin-left: auto !important
                        margin-right: initial !important
                    }
        $rtl[".pe-auto"] = {
                        padding-left: auto !important
                    }
        $ltr[".rtl > .pe-auto"] = {
                        padding-left: auto !important
                        padding-right: initial !important
                    }
    else
        $rtl[".ms-auto"] = {
                        margin-right: auto !important
                    }
        $ltr[".rtl > .ms-auto"] = {
                        margin-left: initial !important
                        margin-right: auto !important
                    }
        $rtl[".ps-auto"] = {
                        padding-right: auto !important
                    }
        $ltr[".rtl > .ps-auto"] = {
                        padding-left: initial !important
                        padding-right: auto !important
                    }
    $xxs[".rtl .m" + value + "-xxs-auto"] = $rtl[".m" + value + "-auto"]
    $xs[".rtl .m" + value + "-xs-auto"] = $rtl[".m" + value + "-auto"]
    $sm[".rtl .m" + value + "-sm-auto"] = $rtl[".m" + value + "-auto"]
    $md[".rtl .m" + value + "-md-auto"] = $rtl[".m" + value + "-auto"]
    $lg[".rtl .m" + value + "-lg-auto"] = $rtl[".m" + value + "-auto"]
    $xl[".rtl .m" + value + "-xl-auto"] = $rtl[".m" + value + "-auto"]
    $xxs[".ltr .rtl > .m" + value + "-xxs-auto"] = $ltr[".rtl > .m" + value + "-auto"]
    $xs[".ltr .rtl > .m" + value + "-xs-auto"] = $ltr[".rtl > .m" + value + "-auto"]
    $sm[".ltr .rtl > .m" + value + "-sm-auto"] = $ltr[".rtl > .m" + value + "-auto"]
    $md[".ltr .rtl > .m" + value + "-md-auto"] = $ltr[".rtl > .m" + value + "-auto"]
    $lg[".ltr .rtl > .m" + value + "-lg-auto"] = $ltr[".rtl > .m" + value + "-auto"]
    $xl[".ltr .rtl > .m" + value + "-xl-auto"] = $ltr[".rtl > .m" + value + "-auto"]
    $xxs[".rtl .p" + value + "-xxs-auto"] = $rtl[".p" + value + "-auto"]
    $xs[".rtl .p" + value + "-xs-auto"] = $rtl[".p" + value + "-auto"]
    $sm[".rtl .p" + value + "-sm-auto"] = $rtl[".p" + value + "-auto"]
    $md[".rtl .p" + value + "-md-auto"] = $rtl[".p" + value + "-auto"]
    $lg[".rtl .p" + value + "-lg-auto"] = $rtl[".p" + value + "-auto"]
    $xl[".rtl .p" + value + "-xl-auto"] = $rtl[".p" + value + "-auto"]
    $xxs[".ltr .rtl > .p" + value + "-xxs-auto"] = $ltr[".rtl > .p" + value + "-auto"]
    $xs[".ltr .rtl > .p" + value + "-xs-auto"] = $ltr[".rtl > .p" + value + "-auto"]
    $sm[".ltr .rtl > .p" + value + "-sm-auto"] = $ltr[".rtl > .p" + value + "-auto"]
    $md[".ltr .rtl > .p" + value + "-md-auto"] = $ltr[".rtl > .p" + value + "-auto"]
    $lg[".ltr .rtl > .p" + value + "-lg-auto"] = $ltr[".rtl > .p" + value + "-auto"]
    $xl[".ltr .rtl > .p" + value + "-xl-auto"] = $ltr[".rtl > .p" + value + "-auto"]

for value in e s // e: end, s: start
    if value == e
        for i in 0..30
            $key = i * 5
            $rtl[".me-" + $key] = {
                margin-left: unit($key, 'px') !important
            }
            $ltr[".rtl > .me-" + $key] = {
                margin-left: unit($key, 'px') !important
                margin-right: initial !important
            }
            $rtl[".pe-" + $key] = {
                padding-left: unit($key, 'px') !important
            }
            $ltr[".rtl > .pe-" + $key] = {
                padding-left: unit($key, 'px') !important
                padding-right: initial !important
            }
            $xxs[".rtl .me-xxs-" + $key] = $rtl[".me-" + $key]
            $xs[".rtl .me-xs-" + $key] = $rtl[".me-" + $key]
            $sm[".rtl .me-sm-" + $key] = $rtl[".me-" + $key]
            $md[".rtl .me-md-" + $key] = $rtl[".me-" + $key]
            $lg[".rtl .me-lg-" + $key] = $rtl[".me-" + $key]
            $xl[".rtl .me-xl-" + $key] = $rtl[".me-" + $key]
            $xxs[".ltr .rtl > .me-xxs-" + $key] = $ltr[".rtl > .me-" + $key]
            $xs[".ltr .rtl > .me-xs-" + $key] = $ltr[".rtl > .me-" + $key]
            $sm[".ltr .rtl > .me-sm-" + $key] = $ltr[".rtl > .me-" + $key]
            $md[".ltr .rtl > .me-md-" + $key] = $ltr[".rtl > .me-" + $key]
            $lg[".ltr .rtl > .me-lg-" + $key] = $ltr[".rtl > .me-" + $key]
            $xl[".ltr .rtl > .me-xl-" + $key] = $ltr[".rtl > .me-" + $key]
            $xxs[".rtl .pe-xxs-" + $key] = $rtl[".pe-" + $key]
            $xs[".rtl .pe-xs-" + $key] = $rtl[".pe-" + $key]
            $sm[".rtl .pe-sm-" + $key] = $rtl[".pe-" + $key]
            $md[".rtl .pe-md-" + $key] = $rtl[".pe-" + $key]
            $lg[".rtl .pe-lg-" + $key] = $rtl[".pe-" + $key]
            $xl[".rtl .pe-xl-" + $key] = $rtl[".pe-" + $key]
            $xxs[".ltr .rtl > .pe-xxs-" + $key] = $ltr[".rtl > .pe-" + $key]
            $xs[".ltr .rtl > .pe-xs-" + $key] = $ltr[".rtl > .pe-" + $key]
            $sm[".ltr .rtl > .pe-sm-" + $key] = $ltr[".rtl > .pe-" + $key]
            $md[".ltr .rtl > .pe-md-" + $key] = $ltr[".rtl > .pe-" + $key]
            $lg[".ltr .rtl > .pe-lg-" + $key] = $ltr[".rtl > .pe-" + $key]
            $xl[".ltr .rtl > .pe-xl-" + $key] = $ltr[".rtl > .pe-" + $key]
    else
        for i in 0..30
            $key = i * 5
            $rtl[".ms-" + $key] = {
                margin-right: unit($key, 'px') !important
            }
            $ltr[".rtl > .ms-" + $key] = {
                margin-left: initial !important
                margin-right: unit($key, 'px') !important
            }
            $rtl[".ps-" + $key] = {
                padding-right: unit($key, 'px') !important
            }
            $ltr[".rtl > .ps-" + $key] = {
                padding-left: initial !important
                padding-right: unit($key, 'px') !important
            }
            $xxs[".rtl .ms-xxs-" + $key] = $rtl[".ms-" + $key]
            $xs[".rtl .ms-xs-" + $key] = $rtl[".ms-" + $key]
            $sm[".rtl .ms-sm-" + $key] = $rtl[".ms-" + $key]
            $md[".rtl .ms-md-" + $key] = $rtl[".ms-" + $key]
            $lg[".rtl .ms-lg-" + $key] = $rtl[".ms-" + $key]
            $xl[".rtl .ms-xl-" + $key] = $rtl[".ms-" + $key]
            $xxs[".ltr .rtl > .ms-xxs-" + $key] = $ltr[".rtl > .ms-" + $key]
            $xs[".ltr .rtl > .ms-xs-" + $key] = $ltr[".rtl > .ms-" + $key]
            $sm[".ltr .rtl > .ms-sm-" + $key] = $ltr[".rtl > .ms-" + $key]
            $md[".ltr .rtl > .ms-md-" + $key] = $ltr[".rtl > .ms-" + $key]
            $lg[".ltr .rtl > .ms-lg-" + $key] = $ltr[".rtl > .ms-" + $key]
            $xl[".ltr .rtl > .ms-xl-" + $key] = $ltr[".rtl > .ms-" + $key]
            $xxs[".rtl .ps-xxs-" + $key] = $rtl[".ps-" + $key]
            $xs[".rtl .ps-xs-" + $key] = $rtl[".ps-" + $key]
            $sm[".rtl .ps-sm-" + $key] = $rtl[".ps-" + $key]
            $md[".rtl .ps-md-" + $key] = $rtl[".ps-" + $key]
            $lg[".rtl .ps-lg-" + $key] = $rtl[".ps-" + $key]
            $xl[".rtl .ps-xl-" + $key] = $rtl[".ps-" + $key]
            $xxs[".ltr .rtl > .ps-xxs-" + $key] = $ltr[".rtl > .ps-" + $key]
            $xs[".ltr .rtl > .ps-xs-" + $key] = $ltr[".rtl > .ps-" + $key]
            $sm[".ltr .rtl > .ps-sm-" + $key] = $ltr[".rtl > .ps-" + $key]
            $md[".ltr .rtl > .ps-md-" + $key] = $ltr[".rtl > .ps-" + $key]
            $lg[".ltr .rtl > .ps-lg-" + $key] = $ltr[".rtl > .ps-" + $key]
            $xl[".ltr .rtl > .ps-xl-" + $key] = $ltr[".rtl > .ps-" + $key]