.rounded
    border-radius($rounded !important)
.rounded-pill
    border-radius(50rem !important)
.rounded-circle
    border-radius(50% !important)
.rounded-bottom
    border-bottom-left-radius $rounded !important
    border-bottom-right-radius $rounded !important
.rounded-left
    border-bottom-left-radius $rounded !important
    border-top-left-radius $rounded !important
$rtl['.rtl .rounded-end'] = $ltr['.ltr .rounded-start'] = {
    border-bottom-left-radius: $rounded !important,
    border-top-left-radius: $rounded !important
}
.rounded-right
    border-bottom-right-radius $rounded !important
    border-top-right-radius $rounded !important
$rtl['.rtl .rounded-start'] = $ltr['.ltr .rounded-end'] = {
    border-bottom-right-radius: $rounded !important,
    border-top-right-radius: $rounded !important
}
.rounded-top
    border-top-left-radius $rounded !important
    border-top-right-radius $rounded !important

for i in 0..40
    $key = i * 4
    .rounded-{$key}
        border-radius(unit($key, 'px') !important)
    $xxs['.rounded-xxs-' + $key] = {
        border-radius: unit($key, 'px') !important
    }
    $xs['.rounded-xs-' + $key] = $xxs['.rounded-xxs-' + $key]
    $sm['.rounded-sm-' + $key] = $xxs['.rounded-xxs-' + $key]
    $md['.rounded-md-' + $key] = $xxs['.rounded-xxs-' + $key]
    $lg['.rounded-lg-' + $key] = $xxs['.rounded-xxs-' + $key]
    $xl['.rounded-xl-' + $key] = $xxs['.rounded-xxs-' + $key]
    .rounded-bottom-{$key}
        border-bottom-left-radius unit($key, 'px') !important
        border-bottom-right-radius unit($key, 'px') !important
    .rounded-left-{$key}
        border-bottom-left-radius unit($key, 'px') !important
        border-top-left-radius unit($key, 'px') !important
    $rtl['.rtl .rounded-end-' + $key] = $ltr['.ltr .rounded-start-' + $key] = {
        border-bottom-left-radius: unit($key, 'px') !important,
        border-top-left-radius: unit($key, 'px') !important
    }
    .rounded-right-{$key}
        border-bottom-right-radius unit($key, 'px') !important
        border-top-right-radius unit($key, 'px') !important
    $rtl['.rtl .rounded-start-' + $key] = $ltr['.ltr .rounded-end-' + $key] = {
        border-bottom-right-radius: unit($key, 'px') !important,
        border-top-right-radius: unit($key, 'px') !important
    }
    .rounded-top-{$key}
        border-top-left-radius $rounded !important
        border-top-right-radius $rounded !important

.border-none
    border none !important

.box-shadow-none
    box-shadow(none !important)

for val in auto scroll hidden inherit initial visible unset overlay
    .overflow-{val}
        overflow val !important
    .overflow-x-{val}
        overflow-x val !important
    .overflow-y-{val}
        overflow-y val !important

for val in break-word inherit initial normal unset
    .overflow-wrap-{val}
        overflow-wrap val !important

.z-index-auto
    z-index auto !important
for i in 0..100
    .z-index-{i}
        z-index: i !important

for val in baseline bottom middle sub super text-bottom text-top top unset
    .vertical-align-{val}
        vertical-align val !important

for val in 0..10
    .opacity-{val}
        opacity (val / 10) !important

for val in default pointer
    .cursor-{val}
        cursor val !important