for $gradient_name , $gradient_gradient in $gradients
    for $gradient_type , $gradient_value in $gradient_gradient
        if $gradient_type == 'base'
            .bg-gradient-{$gradient_name}
                bg-gradient($gradient_value !important)

        else if $gradient_type != 'shades'
            bg-gradient($gradient_name, $gradient_value, $gradient_type)