.ltr
    direction ltr
    for className, prop in $ltr
        {className}
            for propName, propValue in prop
                {propName} propValue

.rtl
    direction rtl
    for className, prop in $rtl
        {className}
            for propName, propValue in prop
                {propName} propValue