json('media-queries.json')

@media xx-small-default
    for className, prop in $xxs
        {className}
            for propName, propValue in prop
                {propName} propValue

@media x-small-default
    for className, prop in $xs
        {className}
            for propName, propValue in prop
                {propName} propValue

@media small-default
    for className, prop in $sm
        {className}
            for propName, propValue in prop
                {propName} propValue

@media medium-default
    for className, prop in $md
        {className}
            for propName, propValue in prop
                {propName} propValue

@media large-default
    for className, prop in $lg
        {className}
            for propName, propValue in prop
                {propName} propValue

@media x-large-default
    for className, prop in $xl
        {className}
            for propName, propValue in prop
                {propName} propValue