$placeholder = @block {
    color: arguments
}
transition() {
    -webkit-transition arguments
    -o-transition arguments
    -moz-transition arguments
    -ms-transition arguments
    transition arguments
}