.theme--{$theme}
    .application-background-color
        background-color $application-background-color
        transition(all .2s)
    .application-text-color
        color $application-text-color
        transition(all .2s)