.theme--{$theme}
/* Track */
    ::-webkit-scrollbar-track {
        background: $colorScrollbarTrack;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $colorScrollbarThumb;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $colorScrollbarThumbHover;
    }

    //* {
    //    scrollbar-color: #555 #888;
    //    scrollbar-width: thin;
    //}