border-radius()
    border-radius arguments
    -webkit-border-radius arguments
    -moz-border-radius arguments
    -o-border-radius arguments
    -ms-border-radius arguments

box-shadow()
    box-shadow arguments
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    -o-box-shadow arguments
    -ms-box-shadow arguments

bg-gradient()
    background-image arguments
    background-image unquote('-webkit-' + arguments)
    background-image unquote('-moz-' + arguments)
    background-image unquote('-o-' + arguments)
    background-image unquote('-ms-' + arguments)

transition()
    transition arguments
    -webkit-transition arguments
    -moz-transition arguments
    -ms-transition arguments
    -o-transition arguments